<div class="container">
  <h1><%= product[0].name %></h1>
  <form class="edit-form" role="form" id="editProduct" name="<%= product[0].upc %>">
    <div class="form-group">
      <label for="upc">Unique Product Code</label>
      <input id="upc" class="form-control" type="text" name="upc" value="<%= product[0].upc %>" required>
    </div>

    <div class="form-group">
      <label for="name">Product name</label>
      <input id="name" class="form-control" type="text" name="name" value="<%= product[0].name %>" required>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" name="category" required>
        <option value="" disabled selected>Please select</option>
        <option value="Category A">Category A</option>
        <option value="Category B">Category B</option>
        <option value="Category C">Category C</option>
        <option value="Category D">Category D</option>
        <option value="Category E" id="newOption">Add New</option>
      </select>
    </div>

    <div class="form-group">
      <label for="costPrice">Cost Price (SGD)</label>
      <input id="costPrice"  step="0.01" class="form-control" type="number" name="costPrice" value="<%= product[0].cost%>" required>
    </div>

    <div class="form-group">
      <label for="sellingPrice">Selling Price (SGD)</label>
      <input id="sellingPrice" step="0.01" class="form-control" type="number" name="sellingPrice" value="<%= product[0].sellingPrice %>">
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input id="quantity" class="form-control" type="number" name="quantity" value="<%= product[0].quantity %>">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>

  <a href="/product">&larr; Back</a>

</div>

<script src="/updateProduct.js"></script>
